<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @hola_mundo.nombre %>
</p>

<p>
  <strong>Endad:</strong>
  <%= @hola_mundo.endad %>
</p>

<%= link_to 'Edit', edit_hola_mundo_path(@hola_mundo) %> |
<%= link_to 'Back', hola_mundos_path %>
